<div class="container">
  <h1>Photos</h1>

  <% @photoposts.each do |photopost| %>

      <div class="photopost">
       <h3><%= photopost.title %></h3>
        <strong>From: <%= photopost.user.email %></strong>
       <p><%= photopost.url %></p>
     </div>


<% end %>

</div>