<div class="container newcontainer">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Signup</h1>

          <%= render 'form' %>

          <%=link_to 'Home', 'pages/home' %>

    </div>
  </div>
</div>